<!DOCTYPE html>
<html>
  <body>
   {% extends "layout.html" %}
	{% block content %}
	   <div class="about">
	     <h1>关于</h1>
	     <p>推特🐶粉丝高强度对线工具</p>

	    <h1>使用示例</h1>
	    <div  id='write'  class = 'blockquote'><p>原文：</p><blockquote><p>苟利国家生死以，岂因祸福避趋之</p></blockquote><p>轻度抽象：</p><blockquote><p>苟利国家生💀以，岂因祸福避趋之</p></blockquote><p>深度抽象：</p><blockquote><p>🐶🎁国➕生💀1️⃣，7️⃣🎵🔥福🖊趋📄</p></blockquote></div>
	     <h1>作者</h1>
	     <p>微博@<a href="https://www.weibo.com/5608016704">THUzhangga</a></p>
	     <h1>资助</h1>
	     <p>欢迎扫一哈滋瓷下服务器费用，要恰饭的嘛</p>
	     <center>
	     <img src ="/static/images/qiafan.png" style="width:300px;">
	     </center>
	   </div>
	 {% endblock %}
  </body>
</html>