<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
   <script src="https://ajax.lug.ustc.edu.cn/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="static/js/flexible.js"></script>
</head>
<body>

{% extends "layout.html" %}
{% block content %}
  <div class="home">
    <h1>抽象翻译(Emoji Translate)</h1>
  </div>

<center>
<form method="POST">
  <div>
    <button type="button" onclick="process('0')" class="button">轻度抽象</button>
    <button type="button" onclick="process('1')" class="button">深度抽象</button>

  </div>
  <div>
    <textarea name="raw" id="t" placeholder="此处输入原文" class="textarea" >  </textarea> 
    <textarea name="tranlated" id="output" placeholder="翻译结果" class="textarea">  </textarea> 
  </div>

</form>
</center>
<h1>使用示例</h1>
      <div  id='write'  class = 'blockquote'><p>原文：</p><blockquote><p>苟利国家生死以，岂因祸福避趋之</p></blockquote><p>轻度抽象：</p><blockquote><p>苟利国家生💀以，岂因祸福避趋之</p></blockquote><p>深度抽象：</p><blockquote><p>🐶🎁国➕生💀1️⃣，7️⃣🎵🔥福🖊趋📄</p></blockquote></div>

<script type="text/javascript">
  $('form').on('submit', function(event) {
       $.ajax({
          data : {
             text : $('#t').val(),
             method:  $('#method').val(),
                 },
             type : 'POST',
             url : '/process'
            })
        .done(function(data) {
          $('#output').text(data.output).show();
      });
      event.preventDefault();
      });

function process(url){
    $.ajax({
        type : 'POST',
        url  : '/process',
        data : {text: $('#t').val(), method: url},
        success :  function(data){
            $('#output').text(data.output).show();
        }
    });
}
</script>
{% endblock %}

</body>

</html>